@use "breakpoints";

.fv {
  position: relative;

  &__contents {
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 209px;
    background: url(../img/sp/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    padding: 32px;
  }

  &__heading {
  }

  &__heading-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &__heading-sub {
    margin-top: 12px;
    display: block;
    font-size: 14px;
  }
}

@include breakpoints.mq(pc) {
  .fv {
    &__contents {
      background: url(../img/bg_fv.png) center center no-repeat;
      background-size: 100% auto;
      bottom: 100px;
      left: 0;
      width: 627px;
      height: 174px;
      padding-top: 24px;
      padding-left: 100px;
    }
  }
}
