@use "color";
@use "breakpoints";

.header {
  background-color: color.$bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    position: relative;
  }

  &__logo {
    display: inline-block;
    padding: 14px 24px;
    font-size: 20px;
    color: color.$white;
  }

  &__menu-button {
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 36px;
    overflow: hidden;
    color: transparent;
    background: url("../img/bg_menu.png") center center no-repeat;
    background-size: 100% auto;

    &.is-checked {
      background: url("../img/bg_menu-close.png") center center no-repeat;
      background-size: 100% auto;
    }
  }

  &__contents {
    display: none;
    height: calc(100vh - 88px);
    border-top: 1px solid color.$white;
    padding-top: 60px;
  }

  &__nav-item {
    & + & {
      margin-top: 24px;
    }
  }
}

/*--------------------------------
// pc
----------------------------------*/
@include breakpoints.mq(pc) {
  .header {
    position: relative;
    flex-basis: 20.8%;
    padding: 50px 20px;

    &__menu-button {
      display: none;
    }

    &__logo {
      display: block;
      width: 120px;
      padding: 0;
      margin: 0 auto;
      font-size: 28px;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }

    &__contents {
      border: none;
      display: block;
    }

    &__container {
      width: 160px;
      margin: 0 auto;
      position: sticky;
      top: 50px;
    }
  }
}
