@use "color";
@use "breakpoints";

.section {
  padding: 40px 0;

  .section__inner {
    padding: 0 32px;
  }

  .section__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .section__head.section__head--center {
    text-align: center;
  }

  .section__head-main {
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  .section__head-sub {
    font-size: 11px;
  }

  .section__lead-text {
    font-size: 16px;
    line-height: 1.6;
  }

  .section__contents {
    margin-top: 40px;
  }
}

@include breakpoints.mq(pc) {
  .section {
    .section__inner {
      max-width: calc(880px + 32px * 2);
      margin: 0 auto;
    }

    .section__head {
      margin-bottom: 24px;
    }

    .section__head-main {
      font-size: 60px;
    }

    .section__lead-text {
      margin-bottom: 70px;
    }
  }
}

@include breakpoints.mq(tb) {
  .section {
    .section__head-main {
      font-size: 54px;
    }
  }
}

.service {
  .service__list {
  }

  .service__item {
  }

  .service__item + .service__item {
    margin-top: 40px;
  }

  .service__item-img {
    text-align: center;
    margin-bottom: 14px;
  }

  .service__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .service__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

@include breakpoints.mq(pc) {
  .service {
    .service__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    .service__item + .service__item {
      margin-top: 0;
    }
  }
}

.works {
  background-color: color.$bg-light;

  .works__list {
  }

  .works__item {
  }

  .works__item + .works__item {
    margin-top: 40px;
  }

  .works__item-img {
    margin-bottom: 12px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
    }
  }

  .works__item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .works__item-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

@include breakpoints.mq(pc) {
  .works {
    .works__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    .works__item + .works__item {
      margin-top: 0;
    }
  }
}

.about {
  .about__container {
  }

  .about__img {
    margin-bottom: 30px;
    min-width: 200px;
    display: flex;
    align-items: center;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
    }
  }

  .about__text-contents {
  }

  .about__text {
    font-size: 16px;
    line-height: 1.6;
  }

  .about__text + .about__text {
    margin-top: 1em;
  }
}

@include breakpoints.mq(pc) {
  .about {
    .about__text-contents {
      padding-right: 30px;
    }

    .about__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 40px;
    }
  }
}

.flow {
  background-color: color.$bg-light;

  .flow__list {
    margin-top: 46px;
  }

  .flow__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 14px;
  }

  .flow__item + .flow__item {
    margin-top: 46px;
  }

  .flow__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: color.$bg-dark;
    color: color.$white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flow__item-img {
    margin-bottom: 24px;
    text-align: center;
  }

  .flow__item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .flow__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

@include breakpoints.mq(pc) {
  .flow {
    .flow__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2%;
    }

    .flow__item + .flow__item {
      margin-top: 0;
    }

    .flow__item-text {
      margin: 10px 0;
    }
  }
}

@include breakpoints.mq(tb) {
  .flow {
    .flow__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 16px;
    }
  }
}

//message

.message {
  .message__container {
  }

  .message__img {
    margin-bottom: 32px;
    max-width: 300px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
    }
  }
}

.page-bottom {
  color: color.$white;
  .page-bottom__item--contact {
    background-color: color.$bg-gray-l;
  }

  .page-bottom__item--twitter {
    background-color: color.$bg-dark;
  }

  .page-bottom__button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    width: 200px;
  }

  .button--border {
    border: 1px solid #fff;
  }

  .bottom-button__text {
    letter-spacing: 0.08em;
  }

  .page-bottom__item {
    padding: 40px;
  }

  .section__head-main {
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  .section__head-sub {
    font-size: 11px;
  }

  .message__text-contents {
  }

  .message__text {
    font-size: 16px;
    line-height: 1.6;
  }

  .section__head--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button__icon > img {
    width: 40px;
  }
}

@include breakpoints.mq(pc) {
  .button {
    &.page-bottom__button {
      margin: 0 auto;

      padding: 5px 10px;
    }

    .bottom-button__text {
      font-size: 16px;
      letter-spacing: 0.08em;
    }
  }
  .message {
    .message__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }

    .message__text-contents {
      flex-basis: 80%;
      min-width: 250px;
    }
  }

  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: color.$white;

    .page-bottom__item {
      padding: 40px;
    }

    .section__head-main {
      font-size: 60px;
      letter-spacing: 0.1em;
    }

    .section__head-sub {
      font-size: 11px;
    }

    .page-bottom__item {
      padding: 54px 10px;
    }

    .page-bottom__item--contact {
      background-color: color.$bg-gray-l;
    }

    .page-bottom__item--twitter {
      background-color: color.$bg-dark;
    }

    .page-bottom__button {
      margin-top: 10px;
      display: flex;
    }
  }

  .section__head--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
