@use "color";
@use "header";
@use "fv";
@use "section";

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: color.$cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;

  &--bg {
    background-color: color.$white;

    .button__text {
      color: color.$bg-dark;
    }
  }

  &--border {
    border: 1px solid color.$white;

    .button__text {
      color: color.$white;
    }
  }

  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }

  &__icon-path {
    fill: color.$white;

    &--contact {
      fill: color.$bg-dark;
    }
  }

  &__text {
    margin-left: 10px;
    font-size: 16px;
    color: color.$white;
    letter-spacing: 0.08em;
  }
}
