@use "color";
@use "header";
@use "fv";
@use "section";
@use "footer";
@use "breakpoints";
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: color.$cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;

  &--bg {
    background-color: color.$white;

    .button__text {
      color: color.$bg-dark;
    }
  }

  &--border {
    border: 1px solid color.$white;

    .button__text {
      color: color.$white;
    }
  }

  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }

  &__icon-path {
    fill: color.$white;

    &--contact {
      fill: color.$bg-dark;
    }
  }

  &__text {
    margin-left: 10px;
    font-size: 16px;
    color: color.$white;
    letter-spacing: 0.08em;
  }
}

/*--------------------------------
// pc
----------------------------------*/
@include breakpoints.mq(pc) {
  .wrapper {
    display: flex;
  }

  .main {
    flex-basis: 79.2%;
  }

  .button {
    transition: background 0.3s, color 0.3s, opacity 0.3s;

    &--red {
      &:hover {
        background-color: rgb(238, 101, 101);
      }
    }

    &--blue {
      &:hover {
        background-color: rgb(101, 115, 238);
      }
    }
    &--bg {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// &:hover {
//   background-color: color.$white;

//   .button__icon-path {
//     fill: color.$bg-dark;
//   }
//   .button__text {
//     color: color.$bg-dark;
//   }
